<!DOCTYPE html>
<html lang="en">
<head>
  <th:block th:replace="/layout/head :: head"/>
  <title>Error</title>
</head>

<body class="authentication-bg">

<div class="account-pages pt-5 my-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="text-center">

          <h2 class="text-white mt-4">
            Opps... May be there is a problem!
          </h2>
          <br>
          <h2>
            Click here for backing to Homepage:
          </h2>
          <br>
          <a class="backToHome" href="/products">Return</a>
        </div>

      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->

<th:block th:replace="/layout/script :: script"/>

</body>
</html>